In [11]:
import numpy as np
import pandas as pd
import re
import string

In [12]:
df = pd.read_csv("../dataset/job_descriptions.csv")
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [13]:
df.shape

(1615940, 23)

In [14]:
columns_to_drop = [
    "Qualifications", "Country", "longitude", "latitude", "Work Type",
    "Company Size", "Contact", "Role", "Job Portal", "Benefits",
    "Responsibilities", "Company", "Company Profile","Preference","Contact Person","location","Job Posting Date"
]

df = df.drop(columns=columns_to_drop, errors='ignore')  # 'errors="ignore"' prevents errors if a column is missing

print(df.shape)  
df.head()

(1615940, 6)

,Job Id,Experience,Salary Range,Job Title,Job Description,skills
0,1089843540111562,5 to 15 Years,$59K-$99K,Digital Marketing Specialist,Social Media Managers oversee an organizations...,"Social media platforms (e.g., Facebook, Twitte..."
1,398454096642776,2 to 12 Years,$56K-$116K,Web Developer,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g..."
2,481640072963533,0 to 12 Years,$61K-$104K,Operations Manager,Quality Control Managers establish and enforce...,Quality control processes and methodologies St...
3,688192671473044,4 to 11 Years,$65K-$91K,Network Engineer,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...
4,117057806156508,1 to 12 Years,$64K-$87K,Event Manager,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...

In [15]:
# Extract min and max experience from the 'experience' column
df[['min_experience', 'max_experience']] = df['Experience'].str.extract(r'(\d+)\s*to\s*(\d+)')

# Convert to numeric (optional)
df['min_experience'] = df['min_experience'].astype(float)
df['max_experience'] = df['max_experience'].astype(float)

# Drop the original 'experience' column
df = df.drop(columns=['Experience'])

# Check the result # Verify the changed
df = df.drop(columns=['max_experience'])
df.head()

,Job Id,Salary Range,Job Title,Job Description,skills,min_experience
0,1089843540111562,$59K-$99K,Digital Marketing Specialist,Social Media Managers oversee an organizations...,"Social media platforms (e.g., Facebook, Twitte...",5.0
1,398454096642776,$56K-$116K,Web Developer,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g...",2.0
2,481640072963533,$61K-$104K,Operations Manager,Quality Control Managers establish and enforce...,Quality control processes and methodologies St...,0.0
3,688192671473044,$65K-$91K,Network Engineer,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...,4.0
4,117057806156508,$64K-$87K,Event Manager,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...,1.0

In [16]:
# Extract min and max salary from the 'Salary Range' column
df[['min_salary', 'max_salary']] = df['Salary Range'].str.extract(r'(\d+)K?-?(\d+)K?')

# Convert to numeric (optional)
df['min_salary'] = df['min_salary'].astype(float) * 1000  # Convert 'K' to full value
df['max_salary'] = df['max_salary'].astype(float) * 1000  # Convert 'K' to full value

# Drop the original 'Salary Range' column
df = df.drop(columns=['Salary Range'])

# Check the result
df.head()

,Job Id,Job Title,Job Description,skills,min_experience,min_salary,max_salary
0,1089843540111562,Digital Marketing Specialist,Social Media Managers oversee an organizations...,"Social media platforms (e.g., Facebook, Twitte...",5.0,5000.0,9000.0
1,398454096642776,Web Developer,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g...",2.0,5000.0,6000.0
2,481640072963533,Operations Manager,Quality Control Managers establish and enforce...,Quality control processes and methodologies St...,0.0,6000.0,1000.0
3,688192671473044,Network Engineer,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...,4.0,6000.0,5000.0
4,117057806156508,Event Manager,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...,1.0,6000.0,4000.0

In [17]:
df = df.rename(columns={'min_experience': 'experience'})
df.head()

,Job Id,Job Title,Job Description,skills,experience,min_salary,max_salary
0,1089843540111562,Digital Marketing Specialist,Social Media Managers oversee an organizations...,"Social media platforms (e.g., Facebook, Twitte...",5.0,5000.0,9000.0
1,398454096642776,Web Developer,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g...",2.0,5000.0,6000.0
2,481640072963533,Operations Manager,Quality Control Managers establish and enforce...,Quality control processes and methodologies St...,0.0,6000.0,1000.0
3,688192671473044,Network Engineer,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...,4.0,6000.0,5000.0
4,117057806156508,Event Manager,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...,1.0,6000.0,4000.0

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['min_salary', 'max_salary']] = scaler.fit_transform(df[['min_salary', 'max_salary']])

# Check the result
df.head()

,Job Id,Job Title,Job Description,skills,experience,min_salary,max_salary
0,1089843540111562,Digital Marketing Specialist,Social Media Managers oversee an organizations...,"Social media platforms (e.g., Facebook, Twitte...",5.0,0.0,1.000000
1,398454096642776,Web Developer,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g...",2.0,0.0,0.666667
2,481640072963533,Operations Manager,Quality Control Managers establish and enforce...,Quality control processes and methodologies St...,0.0,1.0,0.111111
3,688192671473044,Network Engineer,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...,4.0,1.0,0.555556
4,117057806156508,Event Manager,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...,1.0,1.0,0.444444

In [19]:
# Function to clean text data
def clean_text(text):
    text = str(text).lower()  # Convert to lowercase
    text = re.sub(r'\n', ' ', text)  # Remove newlines
    text = re.sub(r'\[.*?\]', '', text)  # Remove text in brackets
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)  # Remove punctuation
    text = re.sub(r'\w*\d\w*', '', text)  # Remove words with numbers
    text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
    return text.strip()

# Apply cleaning to text columns
text_columns = ['Job Description', 'skills','Job Title']
for col in text_columns:
    df[col] = df[col].apply(clean_text)

# Check the cleaned data
df.head()

,Job Id,Job Title,Job Description,skills,experience,min_salary,max_salary
0,1089843540111562,digital marketing specialist,social media managers oversee an organizations...,social media platforms eg facebook twitter ins...,5.0,0.0,1.000000
1,398454096642776,web developer,frontend web developers design and implement u...,html css javascript frontend frameworks eg rea...,2.0,0.0,0.666667
2,481640072963533,operations manager,quality control managers establish and enforce...,quality control processes and methodologies st...,0.0,1.0,0.111111
3,688192671473044,network engineer,wireless network engineers design implement an...,wireless network design and architecture wifi ...,4.0,1.0,0.555556
4,117057806156508,event manager,a conference manager coordinates and manages c...,event planning conference logistics budget man...,1.0,1.0,0.444444

In [25]:
df[['experience']] = scaler.fit_transform(df[['experience']])
df.head()

,Job Id,Job Title,Job Description,skills,experience,min_salary,max_salary
0,1089843540111562,digital marketing specialist,social media managers oversee an organizations...,social media platforms eg facebook twitter ins...,1.0,0.0,1.000000
1,398454096642776,web developer,frontend web developers design and implement u...,html css javascript frontend frameworks eg rea...,0.4,0.0,0.666667
2,481640072963533,operations manager,quality control managers establish and enforce...,quality control processes and methodologies st...,0.0,1.0,0.111111
3,688192671473044,network engineer,wireless network engineers design implement an...,wireless network design and architecture wifi ...,0.8,1.0,0.555556
4,117057806156508,event manager,a conference manager coordinates and manages c...,event planning conference logistics budget man...,0.2,1.0,0.444444

In [20]:
jobSeeker = pd.read_csv("../dataset/job_seekers.csv")
jobSeeker.head()

,jobseeker_id,experience,expected_salary,skills
0,1,12,124699,"kubernetes, python, ml, react, java, aws"
1,2,14,67484,"express.js, css, java, graphql"
2,3,11,69158,"sql, azure, tensorflow, java, flask, linux"
3,4,7,103472,"data analysis, linux, express.js, html, pytorch"
4,5,17,129938,"javascript, python, cloud, ml, typescript, django"

In [21]:
# Apply cleaning to text columns
jobSeeker['skills'] = jobSeeker['skills'].apply(clean_text)

# Check the cleaned data
jobSeeker.head()

,jobseeker_id,experience,expected_salary,skills
0,1,12,124699,kubernetes python ml react java aws
1,2,14,67484,expressjs css java graphql
2,3,11,69158,sql azure tensorflow java flask linux
3,4,7,103472,data analysis linux expressjs html pytorch
4,5,17,129938,javascript python cloud ml typescript django

In [23]:
jobSeeker[['expected_salary']] = scaler.fit_transform(jobSeeker[['expected_salary']])
jobSeeker.head()

,jobseeker_id,experience,expected_salary,skills
0,1,12,0.789183,kubernetes python ml react java aws
1,2,14,0.312371,expressjs css java graphql
2,3,11,0.326322,sql azure tensorflow java flask linux
3,4,7,0.612284,data analysis linux expressjs html pytorch
4,5,17,0.832843,javascript python cloud ml typescript django

In [26]:
jobSeeker[['experience']] = scaler.fit_transform(jobSeeker[['experience']])
jobSeeker.head()

,jobseeker_id,experience,expected_salary,skills
0,1,0.60,0.789183,kubernetes python ml react java aws
1,2,0.70,0.312371,expressjs css java graphql
2,3,0.55,0.326322,sql azure tensorflow java flask linux
3,4,0.35,0.612284,data analysis linux expressjs html pytorch
4,5,0.85,0.832843,javascript python cloud ml typescript django

In [ ]:

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import jaccard_score
from itertools import chain

# Function to calculate Jaccard similarity for skill matching
def jaccard_similarity(skills1, skills2):
    set1, set2 = set(skills1.split()), set(skills2.split())
    return len(set1 & set2) / len(set1 | set2) if set1 | set2 else 0

# Normalize salary and experience differences
scaler = MinMaxScaler()

# Compute skill similarity, experience score, and salary compatibility
interaction_matrix = pd.DataFrame(index=jobseeker_df.index, columns=jobpost_df.index)

for seeker_id, seeker in jobseeker_df.iterrows():
    for job_id, job in jobpost_df.iterrows():
        # Skills Match (60% weight)
        skill_match = jaccard_similarity(seeker["skills"], job["skills"])

        # Experience Score (20% weight) - Closer is better
        experience_diff = abs(seeker["experience"] - job["min_experience"])
        exp_score = 1 / (1 + experience_diff)  # Normalize

        # Salary Compatibility (20% weight)
        min_salary, max_salary = job["min_salary"], job["max_salary"]
        salary_score = 1 if min_salary <= seeker["salary"] <= max_salary else 0

        # Compute weighted sum
        interaction_score = (0.6 * skill_match) + (0.2 * exp_score) + (0.2 * salary_score)
        interaction_matrix.loc[seeker_id, job_id] = interaction_score

# Convert matrix to float
interaction_matrix = interaction_matrix.astype(float)
print(interaction_matrix.head())